<h1>Hackapong</h1>
<h2>The ultimate ponging experience</h2>
<div id="pricing-table" class="clear">
  <%= @users_sorted.each_with_index do |user,k| %>
  <div class="plan" <%= "id=most-popular" if k == 0 %> >
    <h3><span><%= k + 1 %></span></h3>
    <a class="signup" href=""><%= user.username %></a>
    <ul>
      <li><b><%= user.stat.wins %></b> Wins</li>
      <li><b><%= user.stat.reflections %></b> Reflections</li>
      <li><b><%= user.stat.calories %></b> Calories</li>
      <li></li>
    </ul>
  </div>
  <% end %>
</div>